---
import "@fontsource/inter";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";

import { SEO, type Props as SEOProps } from "astro-seo";
import SiteData from "../constants/siteData.json";

export interface Props {
  title: string;
  seo?: SEOProps;
}

const { title } = Astro.props;
const { seo } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-bgDark2">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-5S27FNDM3F"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-5S27FNDM3F");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      {...seo}
      title={seo?.title ?? SiteData.default.title}
      description={seo?.description ?? SiteData.default.description}
      openGraph={seo?.openGraph ?? {
        basic: {
          image: SiteData.default.openGraph.image,
          title: SiteData.default.openGraph.title,
          type: SiteData.default.openGraph.type,
          url: SiteData.default.openGraph.url,
        },
        optional: {
          description: SiteData.default.openGraph.description,
          siteName: SiteData.default.openGraph.title,
        },
      }}
      twitter={seo?.twitter ?? {
        title: SiteData.default.twitter.title,
        description: SiteData.default.twitter.description,
        creator: SiteData.default.twitter.creator,
      }}
    />

    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-bgDark2">
    <main aria-label="Main content">
      <slot />
    </main>
    <style is:global>
      html {
        font-family: Inter;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth !important;
      }
    </style>
  </body>
</html>
